body.homepage {
	background-image: url(../media/home/background-home-desktop.jpg);
	background-size: cover;
}

@media only screen and (max-width: 1366px) {
	body.homepage {
		background-size: auto;
	}
}

@media only screen and (max-width:  768px) {
	body.homepage {
		background-image: url(../media/home/background-home-tablet.jpg);
		background-size: cover;
	}
}

@media only screen and (max-width:  425px) {
	body.homepage {
		background-image: url(../media/home/background-home-mobile.jpg);
	}
}

.homepage .wrapper {
	margin-top: 10vw;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.homepage .content-wrapper {
	max-width: 450px;
}

.homepage .explore-box-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 450px;
	width: 450px;
	background: transparent;
	border-radius: 50%;
}

.homepage .explore-box-wrapper:hover, .homepage .explore-box-wrapper:active {
	background: rgba(255,255,255, 0.1);
	mix-blend-mode: normal;
}

.homepage .explore-box {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 274px;
	width: 274px;
	background: #FFFFFF;
	border-radius: 50%;
}

.homepage .explore-button {
	font-family: Bellefair;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	line-height: 37px;
	letter-spacing: 2px;
	color: #0B0D17;

	padding: 2px;

	cursor: pointer;
	text-transform: uppercase;
}

@media only screen and (max-width: 1024px) {
	.homepage .wrapper {
		display: block;
		text-align: center;
		width: fit-content;
		margin: 5vw auto;
	}

	.homepage .explore-box-wrapper {
		margin: 5vw auto 0 auto;
	}
}

@media only screen and (max-width:  768px) {
	.homepage .explore-box {
	    height: 242px;
	    width: 242px;
	}
}

@media only screen and (max-width:  425px) {
	.homepage .wrapper {
		margin: 5vw 1.5rem;
	}

	.homepage .explore-box-wrapper {
		height: 200px;
		width: 200px;
	}

	.homepage .explore-box {
		width: 150px;
		height: 150px;
	}

	.homepage .explore-button {
		font-size: 20px;
		line-height: 23px;
	}
}