body {
	overflow-x: hidden;
}

nav {
	display: flex;
	justify-content: space-between;
}

nav .logo {
	height: 40px;
	width: 40px;
	margin:  1.5rem;
}

nav .nav-links {
	display: flex;
	flex-direction: column;
	min-width: 250px;

	padding: min(5rem, 20vh) 0;

	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	z-index: 9999;

	transform: translateX(100%);
	transition: transform 350ms ease-out;
}

nav[aria-expanded="true"] .nav-links {
	transform: translateX(0);
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  nav .nav-links {
  	background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(81.5485px);
		-webkit-backdrop-filter: blur(81.5485px);
  }
}
@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  nav .nav-links {
    background-color: rgba(0, 0, 0, .9);
  }
}

nav .nav-toggler {
	height: 1.5rem;
	width: 1.5rem;
	background-image: url(../media/shared/icon-hamburger.svg);
	background-repeat: no-repeat;
	cursor: pointer;
	position: absolute;
	top:  1.5rem;
	right: 1.5rem;
	z-index: 10000;
}
nav[aria-expanded="true"] .nav-toggler {
	background-image: url(../media/shared/icon-close.svg);
}

nav .nav-links a {
	text-decoration: none;

	font-family: Barlow Condensed;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 2.7px;
	color: #FFFFFF;
	cursor: pointer;
	padding: 5px;

	margin: 1rem 2rem;
	width: fit-content;
	border-bottom: solid 1px transparent;
}

nav .nav-links a > span {
	font-weight: 700;
}

nav .nav-links a.active, nav .nav-links a:hover, nav .nav-links a:active {
	border-color: #FFFFFF;
}

@media (min-width: 426px) and (max-width: 1023px) {
	nav .nav-links a > span {
		display: none;
	}
}

@media (min-width: 768px) {
	nav .logo {
		width: 48px;
		height: 48px;
		margin: auto 0 auto 2rem;
	}

	nav .nav-links {
		position: relative;
		flex-direction: row;

		transition: none;
		transform: none;

		padding: 0 1rem;
	}

	nav .nav-toggler {
		display: none;
	}

	nav .nav-links a {
		margin: 0 2rem;
		padding: 2.5rem 0;
	}

	nav .nav-links a {
		border-bottom: solid 3px transparent;
	}

	nav .nav-links a.active, nav .nav-links a:hover, nav .nav-links a:active {
		border-color: #FFFFFF;
	}
}

@media (min-width: 1024px) {
	nav {
		margin-top: 1.5rem;
	}

	nav .nav-links {
		padding: 0 5rem;
	}

	nav .line {
		background: #FFFFFF;
		mix-blend-mode: normal;
		opacity: 0.25;

		position: absolute;
		width: min(33vw, 473px);
		height: 1px;
		left: max(calc(-33vw + 20px), -450px);
		top: 50%;
	}
}