@import "fonts.css";
@import "typography.css";
@import "nav.css";

body {
	margin: 0;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
	padding: 25px 0;
}

@media only screen and (max-width: 1230px) {
	.wrapper {
		margin: auto 15px;
	}
}

.uppercase {
	text-transform: uppercase;
}

body .tropical-blue {
	color: #D0D6F9;
}

body .white {
	color: #FFFFFF;
}

h5 > span {
	mix-blend-mode: normal;
	opacity: 0.25;
}